{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch",
            "type": "godot",
            "request": "launch",
            "project": "${workspaceFolder}/app",
            "address": "127.0.0.1",
            "port": 6007,
            "scene": "main",
            "editor_path": "godot/Godot_v4.4.1-stable_mono_linux.x86_64",
            // engine command line flags
            "profiling": false,
            "single_threaded_scene": false,
            "debug_collisions": false,
            "debug_paths": false,
            "debug_navigation": false,
            "debug_avoidance": false,
            "debug_stringnames": false,
            "frame_delay": 0,
            "time_scale": 1.0,
            "disable_vsync": false,
            "fixed_fps": 60,
            // anything else
            "additional_options": ""
        }
    ]
}